/* Стили для подтверждения email */
.btn-primary {
    color: #fff;
    background-color: #2563eb;
    border-color: #2563eb;
}

    .btn-primary:hover {
        background-color: #1d4ed8;
        border-color: #1e40af;
    }

a {
    color: #2563eb;
}
