/* Стили для футера */
a {
    color: #6b7280; /* Серый по умолчанию */
    text-decoration: none;
    transition: color 0.2s ease;
}

    a:hover {
        color: #3b82f6; /* Яркий синий при наведении */
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #f3f4f6;
}
