/* Стили для подтверждения email */
.btn-primary[b-35yicm0hen] {
    color: #fff;
    background-color: #2563eb;
    border-color: #2563eb;
}

    .btn-primary:hover[b-35yicm0hen] {
        background-color: #1d4ed8;
        border-color: #1e40af;
    }

a[b-35yicm0hen] {
    color: #2563eb;
}
