/* Стили для футера */
a[b-ge8mquqbat] {
    color: #2563eb;
}

    a:hover[b-ge8mquqbat] {
        color: #1d4ed8;
    }

.footer[b-ge8mquqbat] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
