/* Стили для отзывов */
.btn-primary[b-3pp1itmz91] {
    color: #fff;
    background-color: #2563eb;
    border-color: #2563eb;
}

    .btn-primary:hover[b-3pp1itmz91] {
        background-color: #1d4ed8;
        border-color: #1e40af;
    }
